

<sly data-sly-use.clientlib="${'/libs/granite/sightly/templates/clientlib.html'}"></sly>
<sly data-sly-call="${clientLib.all @ categories='solvative-training.nikhils-container'}"></sly>

<section class="nikhils-container--mainComponent">
    <h2 class="nikhils-container__heading">${properties.heading}</h2>
</section>

