<sly data-sly-use.clientlib="${'/libs/granite/sightly/templates/clientlib.html'}"></sly>
<sly data-sly-call="${clientlib.all @ categories='solvative-training.mohan-form'}"></sly>


<form class="mohan-form__component">
    <p  data-sly-test="${!properties.heading}" class="mohan-form__customSubHeading">Add Heading , Field label Names in Dialog</p>
    <h2 data-sly-test="${properties.heading}" class="mohan-form__title">${properties.heading}</h2>
    <div data-sly-test="${properties.inputOne}" class="mohan-form__container-nameContainer">
        <label for="inputOne" class="mohan-form__inputOne">${properties.inputOne}</label>
        <input data-sly-test="${properties.inputOne}" type="text" id="inputOne"  name="${properties.inputOne}" class="mohan-form__inputField"/>
    </div>
    <div data-sly-test="${properties.inputTwo}" class="mohan-form__container-courseContainer">
        <label for="inputTwo" class="mohan-form__inputTwo">${properties.inputTwo}</label>
        <input data-sly-test="${properties.inputTwo}" type="text" id="inputTwo"  name="${properties.inputTwo}" class="mohan-form__inputField"/>
    </div>
    <button data-sly-test="${properties.inputTwo}" class="mohan-form__button">Submit</button>
</form>