.bijal__component{
	&--grid-column {
		float: left;
		width: 30%;
		padding: 10px;
		height: 300px;
		text-align: center;
		color: #ffffff;
	}
	&--free-plan{
		background-color: #645b5b;
	}
	&--normal-plan{
		background-color: #800000;
	}
	&--premium-plan{
		background-color: #008080;
	}
	&--price-text{
		font-size: 40px;
		font-weight: bold;
	}
	&--button-text{
		background-color: #ffffff;
		padding: 10px 30px;
		border: 0px;
		border-radius: 30px;
		text-transform: uppercase;
		font-weight: bold;
	}
	
	@media (max-width:767px){
		&--mobile-small{
			padding: 10px;
		}
		&--mobile-medium{
			padding: 20px;
		}
		&--mobile-large{
			padding: 30px;
		}
		&--mobile-extralarge{
			padding: 40px;
		}
	}
	
	@media (min-width:768px) and (max-width:1200px){
		&--tablet-small{
			padding: 10px;
		}
		&--tablet-medium{
			padding: 20px;
		}
		&--tablet-large{
			padding: 30px;
		}
		&--tablet-extralarge{
			padding: 40px;
		}
	}

	@media (min-width:1199px){
		&--desktop-small{
			padding: 10px;
		}
		&--desktop-medium{
			padding: 20px;
		}
		&--desktop-large{
			padding: 30px;
		}
		&--desktop-extralarge{
			padding: 40px;
		}
	}

	
}