

<sly data-sly-use.clientlib="${'/libs/granite/sightly/templates/clientlib.html'}"></sly>
<sly data-sly-call="${clientLib.all @ categories='solvative-training.mohan-container'}"></sly>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Rajdhani:wght@600&display=swap" rel="stylesheet">



<section class="mohan-card-container__component mohan-card-container--Rajdhani">
    <div class="mohan-card-container__mainContainer">
        <h2 data-sly-test="${properties.heading}" class="mohan-card-container__mainContainer--Rajdhani">${properties.heading}</h2>
    </div>
</section>

<sly data-sly-resource="${'par' @ resourceType='wcm/foundation/components/parsys', decorationTagName='div', cssClassName='mohan-card-container__responsive'}"></sly>


