
.mohan-container {
	&--dark{
		background-color: black;
		color: white;
	}
	&--light{
		background-color: #F2F2F2;
		color: black;
	}
	&--limited-width {
		max-width: 1200px;
		margin-left: auto !important;
		margin-right: auto !important;
		float: none !important;
		text-align: center;
		clear: both!important
	}
	@media screen and (max-width:575px) {
		&--mobile-small {
			padding: 10px;
		}
		&--mobile-medium {
			padding: 20px;
		}
		&--mobile-large {
			padding: 30px;
		}
		&--mobile-extraLarge {
			padding: 40px;
		}
	}

	@media screen and (min-width:576px) {
		&--tablet-small {
			padding: 10px;
		}
		&--tablet-medium {
			padding: 20px;
		}
		&--tablet-large {
			padding: 30px;
		}
		&--tablet-extraLarge {
			padding: 40px;
		}
	}

	@media screen and (min-width:768px) {
		&--desktop-small {
			padding: 10px;
		}
		&--desktop-medium {
			padding: 20px;
		}
		&--desktop-large {
			padding: 30px;
		}
		&--desktop-extraLarge {
			padding: 40px;
		}
	}
}
