<sly data-sly-use.clientlib="${'/libs/granite/sightly/templates/clientlib.html'}"></sly>

<sly data-sly-call="${clientLib.all @ categories='solvative-training.harshform'}"></sly>

<sly data-sly-call="${clientLib.all @ categories='solvative-training.author-harshform'}"></sly>


<div class="harshform__component">
	<input type="text" placeholder="Enter the city name" name="city" value="${properties.city}"/>
	<button class="harshform__component--button" type="submit">Submit</button>
</div>
