.harsh__component{
	@media (max-width:767px){
		&--mobile-small{
			padding: 10px;
		}
		&--mobile-medium{
			padding: 20px;
		}
		&--mobile-large{
			padding: 30px;
		}
		&--mobile-extralarge{
			padding: 40px;
		}
	}
	
	@media (min-width:768px) and (max-width:1200px){
		&--tablet-small{
			padding: 10px;
		}
		&--tablet-medium{
			padding: 20px;
		}
		&--tablet-large{
			padding: 30px;
		}
		&--tablet-extralarge{
			padding: 40px;
		}
	}

	@media (min-width:1199px){
		&--desktop-small{
			padding: 10px;
		}
		&--desktop-medium{
			padding: 20px;
		}
		&--desktop-large{
			padding: 30px;
		}
		&--desktop-extralarge{
			padding: 40px;
		}
	}

	
}