<sly data-sly-use.clientlib="${'/libs/granite/sightly/templates/clientlib.html'}"></sly>

<sly data-sly-call="${clientLib.all @ categories='solvative-training.banner'}"></sly>

<div class="harsh__component--wrapper harsh__component--mobile-${properties.mobileSpacing} harsh__component--tablet-${properties.tabletSpacing} harsh__component--desktop-${properties.desktopSpacing}">
	<h2 class="harsh__component--h2">${properties.heading}</h2>
	dsnksdadkfa
</div>
