.karan-form {
    &__component {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        gap: 0.5rem;
    }

    &__fields-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__field {
        position: relative;
        margin: 1rem auto;

        &-label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 0;
            color: #888;
            font-weight: bold;
            font-family: sans-serif;
            font-size: 0.9rem;
            pointer-events: none;
            transition: 0.5s;
        }

        &-input {
            width: 100%;
            padding: 0.4rem 0 0.3rem;
            font-size: 0.9rem;
            color: #888;
            border: none;
            border-bottom: 1px solid #333;
            outline: none;
            background: none;

            &:focus {
                border-color: #00a3ab;
                caret-color: #00a3ab;
                color: #333;
                & ~ label {
                    top: -18px;
                    left: 0;
                    color: #00a3ab;
                    font-size: 0.75rem;
                }
            }

            &:valid {
                & ~ label {
                    top: -18px;
                    left: 0;
                    font-size: 0.75rem;
                }
            }
        }
    }

    &__btn-submit {
        margin: auto;
        padding: 6px 10px;
        background: transparent;
        border: 1px solid #333;
        outline: 0 !important;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            background-color: #00a3ab;
            color: #fefefe;
            border-color: transparent;
        }
    }
}
