.karan-container {
	&__component {
		min-height: 200px !important;

		&::before {
			// opacity: 0.4;
			position: absolute;
			right: 0;
			padding: 0.25rem;
			font-size: 0.75rem;
			letter-spacing: 0.05rem;
			color: #fff !important;
			background-color: deepskyblue !important;
			font-weight: bold;
			font-family: sans-serif;
			content: 'Component: karan-container'
		}
	}
}
