.karan-container {
    --title-font: Ms Madi, cursive;
    --body-font: Montserrat, sans-serif;

    --text: #222;
    --text-inverse: #ffffff;
    --text-opaque: rgba(0, 0, 0, 0.5);
    --text-inverse-opaque: rgba(255, 255, 255, 0.5);
    --bg-color: #ffffff;

    @small: 640px;
    @medium: 768px;
    @large: 1024px;
    @extra-large: 1280px;

	width: 100%;

    &--fluid > * {
        max-width: 100%;
    }

    &--sm > * {
        max-width: @small;
    }

    &--md > * {
        max-width: @medium;
    }

    &--lg > * {
        max-width: @large;
    }

    &--dark {
        --text: #f2f2f2;
        --text-inverse: #333;
        --text-opaque: rgba(255, 255, 255, 0.5);
        --text-inverse-opaque: rgba(0, 0, 0, 0.5);
        --bg-color: #333;

        a {
            color: #00bfff !important;
        }
    }

    &--light {
        --text: #222;
        --text-inverse: #f2f2f2;
        --text-opaque: rgba(0, 0, 0, 0.5);
        --text-inverse-opaque: rgba(255, 255, 255, 0.5);
        --bg-color: #f2f2f2;
    }

    &__component {
        position: relative;
        min-height: 200px;
        color: var(--text);
        font-family: var(--body-font);
        background-color: var(--bg-color);
        margin-left: auto;
        margin-right: auto;

        * {
            color: inherit;
            font-family: inherit;
        }
    }

    &__title {
        font-family: var(--title-font);
        font-size: 50px;
        font-weight: bold;
        line-height: 1.6;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: capitalize;
        text-align: center;
    }

    &__content {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;

        letter-spacing: 1px;
        line-height: 1.5;
        position: relative;
        z-index: 2;
    }

    a {
        color: #0000ff;
    }
}

header,
footer,
.title,
.teaser,
.helloworld {
    display: none !important;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}
