

<sly data-sly-use.clientlib="${'/libs/granite/sightly/templates/clientlib.html'}"></sly>
<sly data-sly-call="${clientLib.all @ categories='solvative-training.mohan-container'}"></sly>

<section class="mohan-container__component mohan-container--${properties.theme}  mohan-container--mobile-${properties.mobile} mohan-container--tablet-${properties.tablet} mohan-container--desktop-${properties.desktop}">
    <h2 class="mohan-container__heading">${properties.heading}</h2>
</section>

