@small: 640px;
@medium: 768px;
@large: 1024px;
@extra-large: 1280px;

/* testing with karan-container */
.karan-container {
    background-color: #fefefe !important;
}

@media (max-width: (@small - 1px)) {
    .sm\:p-sm > * {
        padding: 10px;
    }
    .sm\:p-md > * {
        padding: 20px;
    }
    .sm\:p-lg > * {
        padding: 30px;
    }
    .sm\:p-xl > * {
        padding: 40px;
    }
}

@media (min-width: @small) {
    .md\:p-sm > * {
        padding: 10px;
    }
    .md\:p-md > * {
        padding: 20px;
    }
    .md\:p-lg > * {
        padding: 30px;
    }
    .md\:p-xl > * {
        padding: 40px;
    }
}

@media (min-width: @medium) {
    .lg\:p-sm > * {
        padding: 10px;
    }
    .lg\:p-md > * {
        padding: 20px;
    }
    .lg\:p-lg > * {
        padding: 30px;
    }
    .lg\:p-xl > * {
        padding: 40px;
    }
}
