header,
footer,
.title,
.teaser,
.helloworld {
	display: none !important;
}

.banner {
	--title-font: Ms Madi, cursive;
	--body-font: Montserrat, sans-serif;
	--text: #000000;
	--text-inverse: #ffffff;
	--text-opaque: rgba(0, 0, 0, 0.5);
	--text-inverse-opaque: rgba(255, 255, 255, 0.5);

	&--light {
		--text: #ffffff;
		--text-inverse: #000000;
		--text-opaque: rgba(255, 255, 255, 0.5);
		--text-inverse-opaque: rgba(0, 0, 0, 0.5);
	}

	&__logo {
		width: 100px;
		display: block;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
	}

	&__component {
		position: relative;
		min-height: 100vh;
		display: flex;
		align-items: center;
	}

	&__img-container {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-size: cover;
	}

	&__content {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding: 20px;
		box-sizing: border-box;
		color: var(--text);
		font-family: var(--body-font);
		letter-spacing: 1px;
		line-height: 2;
		position: relative;
		z-index: 2;

		* {
			color: inherit;
			font-family: inherit;
		}

		&-section {
			margin-bottom: 30px;
		}

		@media (min-width: 992px) {
			display: flex;
			max-width: 70vw;
			justify-content: space-between;
			gap: 40px;

			&-section {
				width: 45%;
			}
		}
	}

	&__cta {
		padding: 10px 20px;
		display: inline-block;
		letter-spacing: 1px;
		background-color: var(--text);
		color: var(--text-inverse);
		min-width: 150px;
		margin: 20px auto;
		outline: none !important;
		text-align: center;
		text-decoration: none;
		text-transform: capitalize;
		font-size: 24px;
		font-weight: bold;
		font-family: var(--title-font);
		border-radius: 5px;
		transition: all 0.2s ease-in-out;

		&:hover {
			background-color: var(--text-inverse);
			color: var(--text);
		}
	}

	&__title {
		font-family: var(--title-font);
		font-size: 50px;
		font-weight: bold;
		line-height: 1.5;
		margin-top: 0;
		margin-bottom: 0;
		text-transform: capitalize;
		text-align: center;
	}

	&__subtitle {
		letter-spacing: 2px;
		margin-bottom: 5px;
		opacity: 0.5;
		text-align: center;
	}

	&__description {
		letter-spacing: 1px;
	}

	&__project-list {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 20px;
		padding-left: 0;
	}

	h3 {
		font-family: var(--title-font);
		letter-spacing: 1px;
		font-size: 30px;
	}

	&__project-list-item-img {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		object-fit: cover;
		object-position: center center;
		display: block;
		margin-bottom: 10px;
	}

	&__project-list-item-title {
		font-size: 16px;
		text-align: center;
	}

	&__details-section {
		display: flex;
		justify-content: space-between;
		gap: 10px;
		align-items: center;
		margin-bottom: 10px;
	}

	&__details {
		padding: 40px;
		background-color: var(--text-inverse-opaque);
		border-radius: 15px;
	}

	&__details-label {
		font-size: 28px;
		opacity: 0.6;
		font-family: var(--title-font);
		font-weight: bold;
		color: var(--text);
	}

	&__details-answer {
		width: 49%;
		font-size: 30px;
		font-family: var(--body-font);
		color: var(--text);
	}
}
