@import (css)
  "https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Rajdhani:wght@700&display=swap";
.aem-Grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.nikhils-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 250px !important;
  margin: 10px 20px;

  &__container--free {
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #fff;
    width: fit-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    height: auto;
    color: black;
  }

  &__container--normal {
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #c96a6a;
    width: fit-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    height: auto;
    color: white;
  }

  &__container--premium {
    box-shadow: 0px 4px 4px 0px #00000040;
    background: linear-gradient(156.14deg, #00c9ff 5.94%, #92fe9d 114.3%);
    width: fit-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    height: auto;
    color: white;
  }

  &__container {
    &--cardType {
      font-family: "Rajdhani";
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 40px;
      margin: 0px;
    }
    &--freeMonths {
      font-family: Josefin Sans;
      font-style: normal;
      font-weight: 100;
      font-size: 15px;
      line-height: 24px;
      margin: -7px 0px 15px;
    }
    &--price {
      font-weight: 700;
      font-size: 62px;
      margin: 0px;
      font-family: Josefin Sans;
      display: flex;
      margin-left: -7px;
      font-family: Rajdhani;
    }
    &--hiddenFees {
      font-weight: 400;
      font-size: 17px;
      margin: 15px 0px 0px;
      font-family: Josefin Sans;
      letter-spacing: 0px;
      text-transform: capitalize;
    }
    &--minimumOrders {
      font-family: Josefin Sans;
      font-weight: 400;
      font-size: 17px;
      margin: 17px 0px;
      text-transform: capitalize;
    }
    &--recurringOrders {
      font-weight: 400;
      font-size: 17px;
      margin: 0px 0px 10px;
      font-family: Josefin Sans;
    }
    &--btn {
      padding: 11px 0px;
      margin-top: 10px;
      border: none;
      border-radius: 15px;
      width: 100%;
      background: #e9e5e5;
      cursor: pointer;
      font-weight: 700;
      font-family: sans-serif;
      letter-spacing: 1px;
      color: #c96a6a;
    }
  }
}
