
.mohan-form {
    &__component ,  &__container-nameContainer ,  &__container-courseContainer {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    &__inputField {
        border: 0px;
        border-bottom: 2px solid grey;
    }
    &__inputField:focus{ 
        border:none;	
        outline:none;
        border-bottom:2px solid #e74c3c;
        transition: all 0.5s ease-in-out;
    }
    &__inputOne ,  &__inputTwo, &__button {
        margin: 1rem;
    }
    &__button{
        margin: 1rem;
        padding: 6px;
        border-radius: 8px;
        background-color: black;
        color: #fff;
    }


}
