.nikhils-form__component {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2%;

    &--input {
      width: 300px;
      border: none;
      border-bottom: 1px solid black;
      outline: none;
      margin-bottom: 1%;
    }

    &--btn {
      width: 100px;
      border: none;
      background: #2ecc71;
      border-radius: 4px;
      padding: 5px 10px;
      cursor: pointer;
      color: #fff;
      font-size: 20px;
    }

}
