<sly data-sly-use.clientlib="${'/libs/granite/sightly/templates/clientlib.html'}"></sly>

<sly data-sly-call="${clientLib.all @ categories='solvative-training.banner'}"></sly>
<sly data-sly-test="${wcmmode.edit || wcmmode.design}" data-sly-call="${clientLib.all @ categories='solvative-training.author-banner'}"></sly>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Ms+Madi&family=Montserrat&display=swap" rel="stylesheet" />

<section class="banner banner__component banner--${properties.type} banner--${properties.fileReference ? properties.theme : 'dark'}">
	<div data-sly-test="${properties.fileReference}" class="banner__img-container" style="background-image: url('${properties.fileReference @ context='styleString'}')"></div>
	<div class="banner__content banner__content--${properties.contentAlignment}">
		<div class="banner__content-section">
			<img data-sly-test="${inheritedPageProperties.fileReference}" class="banner__logo" src="${inheritedPageProperties.fileReference}" alt="${properties.title}" />
			<p class="banner__subtitle">${properties.subtitle || 'The Default Subtitle'}</p>
			<p class="banner__bio">${properties.bio || 'The Default Bio'}</p>
			<h1 class="banner__title">${properties.title || 'The Default Title'}</h1>
			<div class="banner__desc-container">
				<p>${properties.description @ context='html' || 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum dignissim diam et rhoncus.'}</p>
				<p>${inheritedPageProperties.customKeywords}</p>
			</div>
			<div class="banner__cta-container">
				<a class="banner__cta" href="${properties.link}">${properties.linkText || 'View My Works'}</a>
			</div>
		</div>

		<div class="banner__content-section">
			<sly data-sly-list.projectsMultifield="${resource.getChildren}">
				<sly data-sly-test="${projectsMultifield.name == 'projects'}">
					<h3>Projects</h3>
					<ul data-sly-list.project="${projectsMultifield.getChildren}" class="banner__project-list">
						<li class="banner__project-list-item">
							<img class="banner__project-list-item-img" src="${project.projectLogo}" alt="${project.name}" />
							<p class="banner__project-list-item-title">${project.projectName}</p>
						</li>
					</ul>
				</sly>
			</sly>
			<div class="banner__details">
				<div class="banner__details-section">
					<label class="banner__details-label">Project Count</label>
					<span class="banner__details-answer">${properties.projectsDone}</span>
				</div>
				<div class="banner__details-section">
					<label class="banner__details-label">Developer Since</label>
					<span class="banner__details-answer">${properties.activeSince}</span>
				</div>
				<div data-sly-test="${!properties.hideAge}" class="banner__details-section">
					<label class="banner__details-label">Age</label>
					<span class="banner__details-answer">${properties.age}</span>
				</div>
			</div>
		</div>
	</div>
</section>
