<sly
  data-sly-use.clientlib="${'/libs/granite/sightly/templates/clientlib.html'}"
></sly>

<sly
  data-sly-call="${clientLib.all @ categories='solvative-training.nikhils-card'}"
></sly>
<sly
  data-sly-test="${wcmmode.edit || wcmmode.design}"
  data-sly-call="${clientLib.all @ categories='solvative-training.author-nikhils-card'}"
></sly>

<div class="nikhils-card__container">
  <sly data-sly-test="${properties.cardType}">
    <h5 class="nikhils-card__container--cardType">${properties.cardType}</h5>
  </sly>
  <sly data-sly-test="${properties.freeMonthsCount}">
    <p class="nikhils-card__container--freeMonths">
      ${properties.freeMonthsCount} month for free
    </p>
  </sly>
  <sly data-sly-test="${properties.price}">
    <p class="nikhils-card__container--price">
      <span>$</span> ${properties.price}
    </p>
  </sly>
  <sly data-sly-test="${properties.hiddenFees}">
    <p class="nikhils-card__container--hiddenFees">
      ${properties.hiddenFees} are hidden fees
    </p>
  </sly>
  <sly data-sly-test="${!properties.hiddenFees}">
    <p class="nikhils-card__container--hiddenFees">No hidden fees</p>
  </sly>
  <sly data-sly-test="${!properties.minimumOrdersCount}">
    <p class="nikhils-card__container--minimumOrders">No Minimum Orders</p>
  </sly>
  <sly data-sly-test="${properties.minimumOrdersCount}">
    <p class="nikhils-card__container--minimumOrders">
      ${properties.minimumOrdersCount} Minimum Orders
    </p>
  </sly>
  <sly data-sly-test="${!properties.recurringOrdersCount}">
    <p class="nikhils-card__container--recurringOrders">
      Unlimited Recurring Orders Per Month
    </p>
  </sly>
  <sly data-sly-test="${properties.recurringOrdersCount}">
    <p class="nikhils-card__container--recurringOrders">
      ${properties.recurringOrdersCount} Recurring Orders Per Month
    </p>
  </sly>
  <button class="nikhils-card__container--btn">GET STARTED</button>
</div>
