
.mohan-card-container {
	background-color: lightgray;

	&__mainContainer{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center; 
		text-align: center;
	}
	&--Rajdhani{
		font-family: 'Rajdhani', sans-serif;
	}

	&__responsive{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center; 

		.newpar{
			width: 100%;
		}
	}
}



