<sly data-sly-use.clientlib="${'/libs/granite/sightly/templates/clientlib.html'}"></sly>

<sly data-sly-call="${clientLib.all @ categories='solvative-training.karan-container'}"></sly>
<sly data-sly-test="${wcmmode.edit || wcmmode.design}" data-sly-call="${clientLib.all @ categories='solvative-training.author-karan-container'}"></sly>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Ms+Madi&family=Montserrat&display=swap" rel="stylesheet" />

<section class="karan-container__component">
    <h2 data-sly-test="${properties.title}" class="karan-container__title">${properties.title}</h2>
    <div class="karan-container__content">
        ${properties.content @ context='html'}
        <sly data-sly-test="${!properties.content}">Please Author some content.</sly>
    </div>
</section>
