
.nikhils-container {

	&--fullscreen {
		width: 100%;
	}

	&--limitedWidth {
		width: 100%;
		max-width: 1200px;
	}

	&--darkTheme{
		background-color: black;
		color: white;
	}
	&--lightTheme{
		background-color: #F2F2F2;
		color: black;
	}
	
	@media (max-width:900px) {
		&--mobile-small {
			padding: 10px;
		}
		&--mobile-medium {
			padding: 20px;
		}
		&--mobile-large {
			padding: 30px;
		}
		&--mobile-extraLarge {
			padding: 40px;
		}
	}

	@media (min-width:900px) and (max-width:1200px){
		&--tablet-small {
			padding: 10px;
		}
		&--tablet-medium {
			padding: 20px;
		}
		&--tablet-large {
			padding: 30px;
		}
		&--tablet-extraLarge {
			padding: 40px;
		}
	}

	@media (min-width:1200px){
		&--desktop-small {
			padding: 10px;
		}
		&--desktop-medium {
			padding: 20px;
		}
		&--desktop-large {
			padding: 30px;
		}
		&--desktop-extraLarge {
			padding: 40px;
		}
	}
}
