
.mohan-card {
	width: 300px;
	border-radius: 20px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transform: scale(0.9);
	height: 400px;
	font-size: 26px;

	&--cardButton{
		border-radius: 90px;
		padding: 15px;
		width: 85%;
		border: none;
		background-color: #fff;
		font-weight: 700;

		&--free{
			button{
				background-color: #D9D9D9;
				color: #000 !important;
			}
		}
		&--normal{
			button{
				background-color: #E9E5E5;
				color: #C96A6A !important;
			}
		}
		&--premium{
			button{
				background-color: #FFFFFF;
				color: #C96A6A !important;		
			}
		}
	}
	&--white{
		background-color: #ffffff;
		color: #000 !important;
	}
	&--solid{
		background-color: #C96A6A;
		color: #fff !important;
	}
	&--mixed{
		background-image: linear-gradient(156.14deg, #00C9FF 5.94%, #92FE9D 114.3%);
		color: #fff !important;
	}
	&--Rajdhani{
		font-family: 'Rajdhani', sans-serif;
	}
	&--Josefin{
		font-family: 'Josefin Sans', sans-serif;
	}

	&--divOne{
		h2 {
			margin-bottom: 0px;
			font-weight: 700;
		}
		h4 {
			margin-top: 0px;
			font-weight: 300;
			font-size: 14px;
		}
	}

	&--divTwo{
		h1{
			margin-top: 25px;
			margin-bottom: 0px;
		}
	}
	
	&__features{

		&-list-item{
			padding-left: 0px;
			&-title{
				font-family: 'Josefin Sans', sans-serif;
			}
		}
	}
}
