<sly data-sly-use.clientlib="${'/libs/granite/sightly/templates/clientlib.html'}"></sly>
<sly data-sly-call="${clientLib.all @ categories='solvative-training.nikhils-form'}"></sly>

<form class="nikhils-form__component">
  <!-- <h2 class="nikhils-container__heading">${properties.heading}</h2> -->
  <input class="nikhils-form__component--input" type="text" value="${properties.userName}" placeholder="enter your name" name="name"/>
  <button class="nikhils-form__component--btn">submit</button>
</form>
