

<sly data-sly-use.clientlib="${'/libs/granite/sightly/templates/clientlib.html'}"></sly>
<sly data-sly-call="${clientLib.all @ categories='solvative-training.mohan-container'}"></sly>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Rajdhani:wght@600&display=swap" rel="stylesheet">

<section class="mohan-card__component">
   <div class="mohan-card mohan-card--Josefin">
      <div class="mohan-card--divOne">
         <h2 class="mohan-card--priceType mohan-card--Rajdhani">${properties.pricingType}</h2>
         <h4 class="mohan-card--freePeriod">${properties.freePeriod}</h4>   
      </div>

      <div class="mohan-card--divTwo">
         <h1 class="mohan-card--pricing mohan-card--Rajdhani">${properties.currency} ${properties.pricing}</h1>
      </div>

      <div class="mohan-card--divThree">
        <sly data-sly-list.projectsMultifield="${resource.getChildren}">
				<sly data-sly-test="${projectsMultifield.name == 'features'}">
					<ul data-sly-list.project="${projectsMultifield.getChildren}" class="mohan-card__features-list-item">
                  <p class="mohan-card__features-list-item-title">${project.featureOne} </p>
						<!-- <li class="mohan-card__features-list-item">
							<p class="mohan-card__features-list-item-title">${project.featureOne} </p>
						</li> -->
					</ul>
				</sly>
			</sly>
         <!-- <h2 class="mohan-card--featureOne">${properties.featureOne}</h2>
         <h2 class="mohan-card--featureTwo">${properties.featureTwo}</h2>
         <h2 class="mohan-card--featureThree">${properties.featureThree}</h2>    -->
      </div>

      <div data-sly-test="${properties.pricingType}" class="mohan-card--divFour">
         <button class="mohan-card--cardButton">${properties.buttonText}</button>
      </div>
      <div data-sly-test="${!properties.pricingType}" class="mohan-card--divFour">
         Author Cards completely in the config section.
      </div>
   </div>
</section>

