<sly data-sly-use.clientlib="${'/libs/granite/sightly/templates/clientlib.html'}"></sly>
<sly data-sly-call="${clientLib.all @ categories='solvative-training.karan-form'}"></sly>

<form class="karan-form__component">
    <h2 class="karan-form__title">${form.title || 'Profile'}</h2>

    <div class="karan-form__fields-wrapper">
        <div class="karan-form__field">
            <input id="name" name="name" value="${properties.name}" type="text" class="karan-form__field-input"
                required />
            <label for="name" class="karan-form__field-label"> Name </label>
        </div>

        <div class="karan-form__field">
            <input id="city" name="city" value="${properties.city}" type="text" class="karan-form__field-input"
                required />
            <label for="city" class="karan-form__field-label"> City </label>
        </div>

        <button type="submit" class="karan-form__btn-submit">Submit</button>
    </div>
</form>