<sly data-sly-use.clientlib="${'/libs/granite/sightly/templates/clientlib.html'}"></sly>

<sly data-sly-call="${clientLib.all @ categories='solvative-training.bijalcomponent'}"></sly>

<div class="bijal__component--wrapper bijal__component--mobile-${properties.mobileSpacing} bijal__component--tablet-${properties.tabletSpacing} bijal__component--desktop-${properties.desktopSpacing}">
	<h2 class="bijal__component--h2">${properties.heading}</h2>
	
	<div class="bijal__component--grid-wrapper">
		<div class="bijal__component--grid-column bijal__component--free-plan">
			<h3>${properties.freePlan}</h3>
			<p class="bijal__component--price-text">${properties.freePrice}</p>
			<p>${properties.freePriceDetail}</p>
			<button class="bijal__component--button-text">${properties.freePriceButton}</button>
		</div>
		<div class="bijal__component--grid-column bijal__component--normal-plan">
			<h3>${properties.normalPlan}</h3>
			<p class="bijal__component--price-text">${properties.normalPrice}</p>
			<p>${properties.normalPriceDetail}</p>
			<button class="bijal__component--button-text">${properties.normalPriceButton}</button>
		</div>
		<div class="bijal__component--grid-column bijal__component--premium-plan">
			<h3>${properties.premiumPlan}</h3>
			<p class="bijal__component--price-text">${properties.premiumPrice}</p>
			<p>${properties.premiumPriceDetail}</p>
			<button class="bijal__component--button-text">${properties.premiumPriceButton}</button>
		</div>
		
	</div>
</div>
